.body {
  button{
    margin: 1em;
  }

  select{
    margin-bottom: 1em;
  }
}

.title{
  font-size: 48px;
  font-family:cursive;
  font-weight: bold;
  border-bottom: solid medium;
  display: inline-block;
}

.inputField{
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 2rem;

  p{
    right: 0;
    padding-right: 2em;
  }

  input{
    
  }
}

.todoList{
  display: flex;
  justify-content: center;

  .todoText{
    font-family:sans-serif;
    margin: 1em 2em 0 0;
  }
}